@import '../designTokens.module.scss';

.header {
  padding: map-get($tokens, 'app', 'Window', 'horizontalPadding') + px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid map-get($tokens, 'Color', 'stroke', '400');
  &__logo {
    width: 160px;
  }

  &__menu-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: map-get($tokens, 'spacing', 'xl') + px;
    font-weight: 500;
  }

  &__menu-user {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.header__private-content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 80px;
}

.user-menu__button {
  width: 56px;
  height: 56px;
  background-color: map-get($tokens, 'Background', '0');
  border-radius: map-get($tokens, 'borderRadius', 'm') + px;
}

.user-item__container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user_fullname {
  font-weight: 500;
}

.user_avatar {
  object-fit: cover;
}
